{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block content %}
<!--forms-->
    <form action="/answer" method='post'>
        <label for "text1">Tip Calculator: tip last two numbers are decimal points!!!</label><br>
        <input type="number" id="text1" name="text1" min="0.0"><br>
        <input type="radio" id="rad1" name="rad1" value="radio1">
        <label for="rad1">15%</label><br>
        <input type="radio" id="rad1" name="rad1" value="radio2">
        <label for="rad2">20%</label><br>
        
        
        <input type="radio" id="rad1" name="rad1" value="radio3">
        <label for="rad2">25%</label><br>
        <input type="submit" value="Submit"><br>
    </form>
    <form action="/p1">
        <label for="fast_food">Fast Food?</label><br>
        <input type="radio" id="fast_food" name="fast_food" value="yes">
        <label for="fast_food">yes</label><br>
        <input type="radio" id="fast_food" name="fast_food" value="no">
        <label for="fast_food2">no</label>
        <br>
        <label for="foodtype1"> what food</label><br>
        <input type="checkbox" id="foodtype1" name="foodtype1" value="mexican">
        <label for="foodtype1"> Mexican food</label>
        <br>
        <input type="checkbox" id="foodtype2" name="foodtype2" value="burger">
        <label for="foodtype2"> Burger</label>
        <br>
        <input type="checkbox" id="foodtype3" name="foodtype3" value="seafood">
        <label for="foodtype3"> other</label>
        <br><br>
        <input type="submit" value="Submit">
        <br>

    </form>
    <!--page content-->

{% endblock %}
